{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Project list</h1>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Nbvote</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.image }}</td>
                <td>{{ entity.nbVote }}</td>
                <td>{% if entity.created %}{{ entity.created|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <ul>
                        {% if( (entity.utilisateur == app.user.username) ) %}

                            {% if (entity.valid == 0) %}
                                <li>
                                    <a href="{{ path('project_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('project_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            {% endif %}

                        {% else %}
                            <li><a href="{{ path('vote_increase', { 'id': entity.id }) }}">+</a> | <a href="{{ path('vote_decrease', { 'id': entity.id }) }}">-</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') and entity.valid == 0 %}
                            <a href="{{ path('vote_valider', { 'id': entity.id}) }}">Valider</a>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
